.camisas {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  flex: 1;
  align-items: center;
  padding: 2rem 0;
}

.camisas h1 {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: aliceblue;
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border:
    1px solid rgba(255, 255, 255, 0.23),
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.camisas-lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.camisa {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: aliceblue;
  justify-content: space-around;
}

.camisa-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
}

.camisa img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 30rem;
  display: inline-block;
}

.camisa-titulo {
  font-size: 2rem;
  color: darkgreen;
}

.camisa-texto {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.25rem;
  color: darkgreen;
  gap: 0.5rem 0;
}

.camisa-preco {
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #fbd801;
  color: darkgreen;
  border-radius: 8px;
  scale: 1;
  transition:
    background-color ease-in-out 0.2s,
    scale ease-in-out 0.3s;
}

.camisa-botao {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #fbd801;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow:
    0 3px 8px rgba(0, 0, 0, 0.25),
    inset 0 -2px 4px rgba(0, 0, 0, 0.1);
  scale: 1;
  transition:
    background-color ease-in-out 0.2s,
    scale ease-in-out 0.3s;
}

.camisa-botao:hover {
  background-color: goldenrod;
  scale: 1.05;
  box-shadow:
    0 5px 14px rgba(0, 0, 0, 0.3),
    inset 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.preco-botao {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.comprar img {
  width: 2rem;
  height: 2rem;
}
